<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="/main.css" rel="stylesheet"/>-->
    <!--<script src="/webjars/jquery/jquery.min.js"></script>-->
    <!--<script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
    <!--<script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
    <!--<script src="/js/app.js"></script>-->
</head>
<body>
<div th:fragment="websocket">
    <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">


    <div class="row" th:if="${databaseThread==false}">
        <h1>No live threads</h1>
    </div>

    <div class="container" th:if="${databaseThread==true}">
        <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="table-responsive">
            <table id="conversation" class="table table-dark table-responsive table-striped">
                <thead>
                <tr class="index_body">
                    <th scope='col' class="text-center" th:text="${'Trending Topic: '+thread.title}" ></th>
                    <th scope='col' class="text-center" th:text="${'Category: '+thread.category.title}" ></th>
                    <input type="hidden" id="thread" th:value="${thread.id}"/>

                </tr>

                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
            </div>
        </div>

    </div>
    <div class="row" sec:authorize="isAuthenticated()">
                    <div class="col-md-6 col-md-offset-3">
                        <!--id="customerForm"-->
                        <form id="postsForm" class="form-inline form-post">
                            <div class="form-group">
                                <label for="description">Post to trending conversation</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="Type your post here..."/>
                                <input type="hidden"
                                       id="csrf"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}"/>
                            </div>
                            <button id="send" class="btn btn-default" type="submit">Send</button>
                        </form>
                    </div>
    </div>
    </div>






                <!--<button id="send" class="btn btn-default" type="submit">Send</button>-->
            <!--</form>-->


</div>
    <div th:if="${thread!=null}">
    <footer id="simpleTime">
        <input type="hidden" id="dateCreated" th:value="${thread.date}" th:data="${thread.date}"/>
    </footer>
    </div>

    <script type="text/javascript">
        var time= moment($("#dateCreated").val()).fromNow();
        console.log(time);
        $("#simpleTime").html('This thread was made: '+time);
    </script>



    </div>
<!--</div>-->
</body>
</html>