becca
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  th:replace="fragments/header::header('your thoughts')" />
    <title>Start</title>
</head>
<body>
<div class="row">
    <form class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Your thoughts?</h1>
        <form th:include="fragments/form::form"
                th:method="post"
                th:action="@{/categories/{categoryName}/threads/{threadId}/posts/create}"
              th:object="${post}"></form>
    </form>
    </div>
        
</div>

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-header('View post')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
 master


