<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header('edit')"></head>
<body>
<nav th:replace="fragments/navbar :: main-navbar"></nav>
<div th:replace="fragments/footer::jQuery"></div>



<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Edit This Post</h1>
        <form
                th:include="posts/form :: form"
                th:object="${post}"
                method="post"
                th:action="@{'/posts/' + ${posts.description} + '/edit'}" >
        </form>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>