<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- if user is creating a thread -->
    <form th:fragment="form-thread">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" th:field="*{title}" class="form-control"/>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="body">Body</label>-->
        <!--<input id="body" th:field="*{body}" class="form-control" />-->
    <!--</div>-->
        <div class="form-group">
            <label for="file">Upload a file!</label>
            <input id="file" name="file" type="file" />
            <br />
        </div>
        <!--<input type="submit" class="btn btn-primary btn-block" />-->
        <button type="submit" class="btn btn-primary btn-block">Start a conversation</button>
</form>

    <!-- if user is creating a post on a thread -->



<form th:fragment="form-post">
<div class="form-group">
    <label  for="description">your thoughts?</label>
    <input type="text" id="description" name="description" th:field="*{description}" class="form-control" />
</div>



    <!--<div class="form-group">-->
        <!--<label for="file">Upload a file!</label>-->
        <!--<input id="file" name="file" type="file" />-->
        <!--<br />-->
    <!--</div>-->



<!--<input type="submit" class="btn btn-primary btn-block"/>-->
    <button type="submit" class="btn btn-primary btn-block">Submit Post!</button>
</form>

    </body>


</html>

