<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
<body>
    <nav th:replace="fragments/navbar :: main-navbar"></nav>

    <!-- if user is creating a thread -->
    <form th:fragment="form-thread">
        <div class="form-group">
            <fieldset id="inputs">
                <input for="title" id="title" type="text" name="title" placeholder="Title" class="form-control"/>
                <input for="body" id="body" type="text" name="body" placeholder="Body" class="form-control"/>
                <input type="submit" class="btn btn-primary btn-block"/>
            </fieldset>
        </div>
    </form>


    <!-- if user is creating a post on a thread -->

    <form th:fragment="form-post">
        <div class="form-group">
            <fieldset id="inputs">
                <input for="body" id="body" type="text" name="body" placeholder="Body"/>
                <input type="submit" class="btn btn-primary btn-block"/>
            </fieldset>
        </div>
    </form>

</body>
</html>

