<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>

</head>
<body>

<p>You should not see this</p>

<nav id="my-nav" class="navbar" th:fragment="navbar">
    <ul>

        <li sec:authorize="!isAuthenticated()">
            <a href="/login">Log In</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/registration">Sign Up</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="users/profile">Profile</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="categories/index">Conversations</a>
        </li>
    </ul>
</nav>

<p>You should not see this</p>

</body>
</html>