<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>

</head>
<body>

<p>You should not see this</p>

<nav id="my-nav" class="navbar navbar-default" th:fragment="navbar">
    <ul class="nav navbar-nav nav-rig">

        <!--<li sec:authorize="!isAuthenticated()">-->
            <!--<a href="#" id="login">Log In</a>-->
        <!--</li>-->

        <li id="login" class="navbar-right" sec:authorize="!isAuthenticated()">
            <a id="login-trigger" href="#">
                Log in <span>▼</span>
            </a>
            <div id="login-content">
                <form th:action="@{/login}" method="POST">
                    <fieldset id="inputs">
                        <input for="username" id="username" type="text" name="username" placeholder="Username"/>
                        <input for="password" id="password" type="password" name="password" placeholder="Password"/>
                    </fieldset>
                    <fieldset id="actions">
                        <input type="submit" id="submit" value="Log in"/>
                        <label><input type="checkbox" checked="checked" value="1"/> Keep me signed in</label>
                    </fieldset>
                </form>
            </div>
        </li>

        <li sec:authorize="!isAuthenticated()">
            <a href="/register">Sign Up</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{'/profile/'+ ${#authentication.principal.username}}">Profile</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/categories">Conversations</a>
        </li>
    </ul>
</nav>

<p>You should not see this</p>

</body>
</html>