<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head th:include="fragments/header :: header('Login')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div th:replace="fragments/footer :: jQuery"></div>

    <div class="row">
        <h1>Login</h1>
        <div th:if="${param.error}" class="error">
            Invalid Username and Password.
        </div>
        <div class="logout" th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="POST">
            <div class="form-group">

                    <label for="username" >username</label>
                    <input th:type="text" id="username" name="username"  class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password">password</label>
                <input id="password" name="password" th:type="password" class="form-control"/>
            </div>

            <input value="login!" type="submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>