<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/footer::jQuery"></div>


<h1><span class="title-text" th:text="|Welcome, ${user.username}|"></span></h1>
<div th:each="threadAward : ${threadAwards}" th:if="${threadAward!=null}">
    <img src="/achievement_icons/threadWinner.png"/>
    <p th:text="${threadAward.title}"></p>
    <p th:text="${threadAward.user.username}"></p>
</div>
<div th:each:="postAward: ${postAwards}" th:if="${postAward!=null}">
    <!--<img src="/achievement_icons/threadWinner.png"/>-->
    <p th:text="${postAward.title}"></p>
    <p th:text="${postAward.user.username}"></p>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>