<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/footer::jQuery"></div>


<h1><span class="title-text" th:text="|Welcome, ${user.username}|"></span></h1>
<!--<div th:text="${user.birthday}"></div>-->
<h3 class="text-center">Here are all of your active threads</h3>

<div class="container row center-block">
    <div class="categories">
        <div class="container row">
        <a th:each="thread : ${threads}"
       th:href="@{'/categories/'+ ${thread.category.title}+'/threads/'+${thread.id}}" th:if="${thread.activeStatus}" class="col-lg-3 col-sm-6 col-md-4 col-xs-6">
            <img class="img-circle img-responsive center-block" th:if="${thread.imageUrlPath==null}" th:src="${'/threadDucks/'+ thread.imageUrlPath}"/>
            <img class="img-circle img-responsive thread-cicles center-block" th:if="${thread.imageUrlPath!=null}" th:src="${'/uploads/'+ thread.imageUrlPath}"/>
                <p th:text="${thread.title}"></p>


    </a>
    </div>
</div>
</div>

<div th:if="${threadAwards!=null}">
<h2>Congratulations on Having the most talked about Thread Topic!!!</h2>
<div th:each="threadAward : ${threadAwards}">
    <!--<h2>Congratulations on Having the most talked about Thread Topic!!!</h2>-->
    <img class="threadAward" src="/achievement_icons/threadWinner.png"/>
    <h4 th:text="${'The winning Topic was: '+threadAward.title}"></h4>
    <!--<h4 th:text="${'It was create'+threadAward.date}"></h4>-->
</div>
</div>

<!--<div th:each:="postAward : ${postAwards}" th:if="${postAward!=null}">-->
    <!--<img src="/achievement_icons/postWinner.png"/>-->
    <!--<p th:text="${postAward.title}"></p>-->
    <!--<p th:text="${postAward.user.username}"></p>-->
<!--</div>-->

<!--<div class="center-block">-->
    <!--<a href="/aboutus">-->
        <!--<span class="glyphicon glyphicon-info-sign"></span>-->
    <!--</a>-->
<!--</div>-->
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>