<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  th:replace="fragments/header :: header('Start a conversation')" />
    <title>Start</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/footer::jQuery"></div>

<h1 class="text-center">What do you want to talk about?</h1>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form th:include="fragments/form :: form-thread"
              th:method="post"
              th:action="@{'/categories/'+ ${category.title}+'/threads/create'}"
              th:object="${thread}"
              enctype="multipart/form-data">
            <!--th:action="@{'/categories/'+{category.title}+'/threads/'+{thread.id}+'/create'"-->

        </form>
    </div>
</div>





<footer class="fixed-bottom" th:replace="fragments/footer :: footer"></footer>
</body>
</html>