<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  th:replace="fragments/header :: header('Start a conversation')" />
    <title>Start</title>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div th:replace="fragments/footer::jQuery"></div>

<div class="row">
    <form class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Start a conversation</h1>
        <form th:replace="fragments/form :: form-thread"
              th:method="post"
              th:action="@{/categories/{categoryName}/threads/create}"
              th:object="${post}"></form>
    </form>
</div>

</div>



<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>