<!--May not need this portion of code-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Choose a Thread topic')"> </head>

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:include="fragments/footer::jQuery"></div>

<ul>
    <li>
        <a th:href="@{'/categories/'+ ${category.title}+'/threads/create'}"><li th:text="'Start a conversation on ' + ${category.title}"></li></a>
    </li>
</ul>


        <!--<div class="container row">-->
            <!--<div class="col-xs-4 col-md-2 categories">-->
                <!--<div class="container row">-->
                <!--<a th:each="thread : ${threads}"-->
           <!--th:href="@{'/categories/'+ ${category.title}+'/threads/'+${thread.id}}" th:if="${thread.activeStatus}" class="col-md-2">-->

                <!--<img class="img-circle img-responsive" th:if="${thread.imageUrlPath==null}" src="http://lorempixel.com/255/200/"/>-->

                <!--<img class="img-circle img-responsive "  style="width:12%" th:if="${thread.imageUrlPath!=null}" th:src="${'/uploads/'+ thread.imageUrlPath}"/>-->
            <!--<li th:text="${thread.title}"></li>-->
            <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->


<div class="container row">
    <div class="categories">
        <div class="container row">
            <a th:each="thread : ${threads}"
               th:href="@{'/categories/'+ ${category.title}+'/threads/'+${thread.id}}" th:if="${thread.activeStatus}" class="col-lg-3 col-sm-6 col-md-4 col-xs-6">

                <img class="img-circle img-responsive center-block" th:if="${thread.imageUrlPath==null}" th:src="${'/threadDucks/'+ thread.imageUrlPath}"/>
                <img class="img-circle img-responsive thread-cicles center-block" th:if="${thread.imageUrlPath!=null}" th:src="${'/uploads/'+ thread.imageUrlPath}"/>

                <p th:text="${thread.title}"></p>

            </a>
        </div>
    </div>
</div>

<!--need following code on threads/show-->

<footer th:include="fragments/footer :: footer"></footer>


<!--<h1>Converstaion Closes</h1>-->
<!--<div id="clockdiv">-->
    <!--<div>-->
        <!--<span class="hours"></span>-->
        <!--<div class="smalltext">Hours</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<span class="minutes"></span>-->
        <!--<div class="smalltext">Minutes</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<span class="seconds"></span>-->
        <!--<div class="smalltext">Seconds</div>-->
    <!--</div>-->
<!--</div>-->


<!--<script-->
        <!--src="https://code.jquery.com/jquery-3.2.1.min.js"-->
        <!--integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
        <!--crossorigin="anonymous"></script>-->
<!--<script>-->
    <!--function getTimeRemaining(endtime) {-->
        <!--var t = Date.parse(endtime) - Date.parse(new Date());-->
        <!--var seconds = Math.floor((t / 1000) % 60);-->
        <!--var minutes = Math.floor((t / 1000 / 60) % 60);-->
        <!--var hours = Math.floor((t / (1000 * 60 * 60)) % 12);-->
        <!--return {-->
            <!--'total': t,-->
            <!--'hours': hours,-->
            <!--'minutes': minutes,-->
            <!--'seconds': seconds-->
        <!--};-->
    <!--}-->

    <!--function initializeClock(id, endtime) {-->
        <!--var clock = document.getElementById(id);-->
        <!--var hoursSpan = clock.querySelector('.hours');-->
        <!--var minutesSpan = clock.querySelector('.minutes');-->
        <!--var secondsSpan = clock.querySelector('.seconds');-->

        <!--function updateClock() {-->
            <!--var t = getTimeRemaining(endtime);-->

            <!--hoursSpan.innerHTML = ('0' + t.hours).slice(-2);-->
            <!--minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);-->
            <!--secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);-->

            <!--if (t.total <= 0) {-->
                <!--clearInterval(timeinterval);-->
            <!--}-->
        <!--}-->

        <!--updateClock();-->
        <!--var timeinterval = setInterval(updateClock, 1000);-->
    <!--}-->

    <!--var deadline = new Date(Date.parse(new Date()) + 24 * 60 * 60 * 1000);-->
    <!--initializeClock('clockdiv', deadline);-->
<!--</script>-->
</body>
</html>