<!--May not need this portion of code-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Choose a Thread topic')"/>

<body>
<nav th:replace="fragments/navbar :: main-navbar"></nav>
<div th:replace="fragments/footer::jQuery"></div>


<div th:each="thread:${threads}">
    <ul><a th:href="@{${'/categories/'+ category.title+'/threads/'+thread.id}+'/posts'}"><li th:text="${thread.title}"></li></a></ul>
</div>





<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>