body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f5f5f5;
    text-align: center;
}


header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}

p{
    font-family: 'Droid Serif', serif;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;

}
footer{
    border-top: solid 1px silver;
    color: goldenrod;
}



.head,
nav{
    text-align: center;
    position: relative;


}


ul,li{
    list-style: none;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    margin-top: 1%;
}

button{
    color: black;
    text-transform: uppercase;
    margin-top: 1%;
    margin-right:1%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.img-logo {
    width: 100%;
    height: auto;
}

.jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
}

.custom-nav {
    background-color: #f5f5f5;
    padding: 0;
    border: none;
    margin-bottom: 0;
}

.top-links {
    color: black;
    padding: 1em 1em;
    font-size: 1.3em;
}


.logoutbtn{
    padding: 0;
}

.subhead
{
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}

.index_body{
    color: black;
    text-transform: uppercase;
    padding: 12px 0 12px 0;
}

.indexbottom{
    background-color: #87e0df;
}


.home-display{
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #f3c156;
}


.row{
    margin-right: auto;
    margin-left: auto;
}


.team-circle{
    border-radius: 50%;
    border: 16px solid #318d8c;
    width: 200px;
    height: 200px;
    background-image: url(http://www.conversionscouts.de/tests/css/circle/s-schramm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:296px;
    margin: 0 auto;
}
.team-lable{
    display:none;
}
.team-circle:hover .team-lable{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85em;
    color: white;
    padding: 6px;
    display:block;
    margin: 72% auto;
    width: 110px;
    text-align: center;
    border-radius: 3px;
    background: #685167;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}


/*mobile responsive */
@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff4fe;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #12123e;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #12123e;
        background-color: #98c0b2;
    }

    header{
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 80px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 72px;
        margin-bottom: 20px;

    }
    p{
        margin-top: 0;
        margin-bottom: 20px;

    }



    .head,
    nav{
        text-align: center;
        position: relative;


    }


    ul,li{
        list-style: none;
        display: inline-block;
        color: black;
        text-transform: uppercase;
        margin-top: 1%;
    }

    button{
        color: black;
        text-transform: uppercase;
        margin-top: 1%;
        margin-right:1%;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
    }


}
