
body{

    font-size: 14px;
    color: #2f2f2f;
    background-color: #f5f5f5;
    text-align: center;
}
.sizeoftext{
    font-size: 2.5em;
}
.winner-text{
    color:goldenrod;
}

.catCircle{
    border-radius: 100%;
    display: block;
    height: 0;
    width: 100%;
    padding: 50% 0;
    background: papayawhip;
    border: 5px solid black;
    position:relative;
}


.headerConversation{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 40px;
    width:100%;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}

p{
    font-family: 'Droid Serif', serif;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;

}
footer{
    border-top: solid 1px silver;
    color: goldenrod;
    background-color: #3b5998;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 3em;
}



nav{
    text-align: center;
    position: relative;


}


ul,li{
    list-style: none;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    margin-top: 1%;
    padding-left: 2em;
    padding-right: 2em;
}

button{
    color: black;
    text-transform: uppercase;
    margin-top: 1%;
    margin-right:1%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.img-logo {
    width: 100%;
    height: auto;
}

.jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.custom-nav {
    background-color: #f5f5f5;
    padding: 0;
    border: none;
    margin-bottom: 0;
}

.top-links {
    color: black;
    /*padding: 1em 1em;*/
    font-size: 1.3em;
}


.logoutbtn{
    padding: 0;
    padding-bottom: 0;
}

.subhead
{
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}

.index_body{
    color: black;
    text-transform: uppercase;
    padding: 12px 0 12px 0;
    text-align: center;
}

.index_icons{
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.indexbottom{
    background-color: #8b98802b;
}


.home-display{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    color:#000000ad;
}

.categories-index{
    padding-bottom: 2em;
    padding-top: 2em;
}





.topcentering{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}



/*.team-circle{*/
    /*border-radius: 50%;*/
    /*border: 16px solid #318d8c;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background-image: url(http://www.conversionscouts.de/tests/css/circle/s-schramm.jpg);*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size:296px;*/
    /*margin: 0 auto;*/
/*}*/
/*.team-lable{*/
    /*display:none;*/
/*}*/
/*.team-circle:hover .team-lable{*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-size: 0.85em;*/
    /*color: white;*/
    /*padding: 6px;*/
    /*display:block;*/
    /*margin: 72% auto;*/
    /*width: 110px;*/
    /*text-align: center;*/
    /*border-radius: 3px;*/
    /*background: #685167;*/
/*}*/

.profileNav{
    padding-bottom: 6px;
    height: 62px;
    padding-top: 11px;
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 12px;
    padding-right: 12px;

}
.buttonLogoutForm{
    font-family: 'Droid Serif', serif;
    text-align: center;
    font-size: 20px;
    color: #777
}
.buttonLogoutForm:hover{
    color: #23527c;
    text-decoration: underline;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}





.threadAward{
    width: 10%;
    height: auto;

}
.threadAwardprofile{
    width: 30%;
    height:auto;

}
.thread-cicles {
    width: 160px;
    height: 125px;
}


/*mobile responsive */

@media(max-width:768px) {
    #login-dp {

        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff4fe;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #12123e;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #12123e;
        background-color: #98c0b2;
    }

    /*header{*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-weight: 900;*/
    /*font-size: 80px;*/
    /*text-transform: uppercase;*/
    /*display: inline-block;*/
    /*line-height: 72px;*/
    /*margin-bottom: 20px;*/
    /*}*/
    p {
        margin-top: 0;
        margin-bottom: 20px;

    }

    nav {
        text-align: center;
        position: relative;

    }

    ul, li {
        list-style: none;
        display: inline-block;
        color: black;
        text-transform: uppercase;
        margin-top: 1%;
    }

    button {
        color: black;
        text-transform: uppercase;
        margin-top: 1%;
        margin-right: 1%;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
    }


    /*@media (max-width: 768px) {*/

    /*.catCircle {*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*background-color: papayawhip;*/
        /*!*-moz-border-radius: 50px;*!*/
        /*!*-webkit-border-radius: 50px;*!*/
        /*border-radius: 200px;*/
        /*border: 5px solid black;*/
    /*}*/
    /*@media(max-width:480px){*/


    /*}*/
/*@media all and (max-width: 1200px){*/



    /*}*/
    @media all and (max-width: 500px){
        .sizeoftext{
            font-size: 1em;
        }
    }
}




