body{
    /*background-image: url('Presence.jpg');*/
    background-position:center;
    padding:50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo{width:100%;
    margin:32px 0
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}
/*NAVBAR STYLING*/
/*.navbar-default {*/
    /*background-color: #0d3d23;*/



/*}*/
/*.navbar-default .navbar-brand {*/
    /*color: #fff4fe;*/
/*}*/
/*.navbar-default .navbar-brand:hover,*/
/*.navbar-default .navbar-brand:focus,*/
/*.navbar-default .nav-link:hover,*/
/*.navbar-default .nav-link:focus{*/
    /*color: darkgrey;*/
/*}*/

/*.navbar-default .navbar-text,*/
/*.navbar-default .nav-link{*/
    /*color: #fff4fe;*/
/*}*/

/*.navbar-default .navbar-nav > li > a {*/
    /*color: #fff4fe;*/
/*}*/

/*.navbar-default .navbar-nav > li > a:hover,*/
/*.navbar-default .navbar-nav > li > a:focus,*/
/*.navbar-default .nav-link > li > a:focus,*/
/*.navbar-default .nav-link > li > a :hover*/
/*{*/
    /*color: darkgrey;*/
/*}*/

/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a{*/
    /*color: #12123e;*/
    /*background-color: #98c0b2;*/
/*}*/

/*.navbar-default .navbar-nav > .open > a,*/
/*.navbar-default .navbar-nav > .open > a:hover,*/
/*.navbar-default .navbar-nav > .open > a:focus {*/
    /*color: #12123e;*/
    /*background-color: #98c0b2;*/
/*}*/

/*.navbar-default .navbar-toggle:hover,*/
/*.navbar-default .navbar-toggle:focus {*/
    /*background-color: #98c0b2;*/
/*}*/
/*.navbar-default .navbar-toggle .icon-bar {*/
    /*background-color: #fff4fe;*/
/*}*/
/*.navbar-default .navbar-collapse,*/
/*.navbar-default .navbar-form {*/
    /*border-color: #fff4fe;*/
/*}*/
/*.navbar-default .navbar-link {*/
    /*color: #fff4fe;*/
/*}*/
/*.navbar-default .navbar-link:hover {*/
    /*color: #12123e;*/
/*}*/


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff4fe;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #12123e;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #12123e;
        background-color: #98c0b2;
    }
}
/*styling site*/
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
