<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Join the Conversation')"></head>

<body>
<nav th:replace="fragments/navbarSTYLE :: nave"></nav>

<div class="jumbotron"><img src="/css/JOIN THE CONVERSATION.png" class="img-logo" /></div>

<div id="time"></div>
<div id="index-header"><h1>Join Our Conversations</h1></div>
<p th:if="${thread==null}" th:text="'There is No Current Winner'"></p>
<div th:if="${thread!=null}">
    <p th:text="${thread.title}"></p>
    <p th:text="${thread.user.username}"></p>
</div>

<!--<p th:text="${thread.user.username}"></p>-->
<div class="home-display">
    <div><p> Select a topic of discussion</p></div>
    <div><p>Start your own conversation, or Join in a conversation</p></div>
    <div><p>Earn a badge for each conversation you took part in that had the most amount of participation at the end of
        a 12 hour period.. </p></div>
    <div><p>Stay up to date, Learn something new, and have some some fun incentive.</p></div>
</div>
<div>
<div>Trending topics happening on our conversation board.</div>
<div>Trending topic 1</div>
<div>Trending topic 2</div>
<div>Trending topic 3</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
<script src="/js/index_timer.js"></script>
</body>
</html>