<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="fragments/header::header('Join the Conversation')">
    <meta charset="UTF-8"/>
    <title>Join the Conversation</title>
</head>
<body>
<nav th:replace="fragments/navbar::main-navbar"></nav>

<div id="time"></div>
<h1>Join Our Conversations</h1>
<p th:if="${thread==null}" th:text="'There is No Current Winner'"></p>
<div th:if="${thread!=null}">
    <p th:text="${thread.title}"></p>
    <p th:text="${thread.user.username}"></p>
</div>

<!--<p th:text="${thread.user.username}"></p>-->
<div class="home-display">
    <div><p> Select a topic of discussion</p></div>
    <div><p>Start your own conversation, or Join in a conversation</p></div>
    <div><p>Earn a badge for each conversation you took part in that had the most amount of participation at the end of
        a 12 hour period.. </p></div>
    <div><p>Stay up to date, Learn something new, and have some some fun incentive.</p></div>
</div>
<div>
<div>Trending topics happening on our conversation board.</div>
<div>Trending topic 1</div>
<div>Trending topic 2</div>
<div>Trending topic 3</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
<script src="../static/js/index_timer.js"></script>
</body>
</html>