<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header::header('Join the Conversation')"/>
<div th:replace="fragments/footer::jQuery"></div>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/app.js"></script>
<!--<script src="/js/get.js"></script>-->

<body>

<nav th:replace="fragments/navbarSTYLE :: nave"></nav>
<!--Adrian's script's please don't DELETE!!!!!!!!!-->
<!--<script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
<!--<script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
<!--<script src="/js/app.js"></script> -->

<div class="jumbotron jumbotron-fluid"><img src="/css/michaeldale (9).png" class="img-logo" /></div>

<!--<div th:replace="fragments/footer::jQuery"></div>-->
<!--<script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
<!--<script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
<!--<script src="/js/app.js"></script>-->
<!--&lt;!&ndash;<script src="/js/posts.js"></script>&ndash;&gt;-->
<!--<script src="/js/get.js"></script>-->



<div class="home-display">
<div><h2>Join Our Conversations or Start your own</h2></div>

    <div><p>Stay up to date, Learn something new, and have some some fun incentive.</p></div>
    <div>
        <img class="index_icons" th:src="@{css/refresh.png}" />
        <img class="index_icons" th:src="@{css/people.png}" />
        <img class="index_icons" th:src="@{css/happy.png}" />


    </div>


</div>



<div class="indexbottom">
<div th:if="${thread==null}"></div>
<div th:if="${thread!=null}" th:replace="liveFeeds/index::websocket"></div>



<p th:if="${threadwinner==null}" th:text="'There is was no thread winner'"></p>
<div th:if="${threadwinner!=null}">
    <p th:text="${' Last 24 hour top trend '+threadwinner.title}"></p>
    <p th:text="${'was created by '+threadwinner.user.username}"></p>
</div>
</div>


<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>